- var prop = (100 * o_height / o_width) + '%'

.Card.embed-responsive(style='padding-bottom:' + prop)
  img.embed-responsive-item(src=url_n)
  .Caption
    | #{description._content.substr(0, 90)} ...
