- var prop = (100 * o_height / o_width) + '%'

.Card.embed-responsive(style='padding-bottom:' + prop)
  img.embed-responsive-item(src=url_n)
  .Card-caption
    | #{description._content.split(/[\n]./)[0]}
